input[type="text"],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type="submit"] {
    background-color: #fff;
    border: 2px solid #003e78;
    color: #003e78;
    font-weight: 700;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    justify-content: center;
    position: absolute;
    top: 10%;
    font-size: 20px;
    padding-left: 5%;
    left: 8%;
    color: #003e78;
}

span {
    display: block;
    margin-bottom: 10px;
}

button {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}

body,
html {
    height: 100%;
    margin: 0;
}

.bgimg {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 62, 120, 1),
        rgba(0, 171, 205, 1)
    ) !important;
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
}

.topleft {
    position: absolute;
    top: 0;
    left: 16px;
}

.bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
